<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>AssetServlet</servlet-name>
    <servlet-class>juzu.impl.asset.AssetServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetServlet</servlet-name>
    <url-pattern>/assets/*</url-pattern>
  </servlet-mapping>
</web-app>