div.booking {
    background: #e0e0e0;
}

div.booking {
    font-family: Arial;
    font-size: 90%;
    color: rgb(54, 47, 45);
    background: #fff;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    -moz-border-radius: 8px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.booking a {
    color: #666;
}

/** Main **/

.booking .fError, .booking .fSuccess {
    text-align: center;
    position: relative;
    top: -10px;
}

.booking .fError {
    color: #c00;
}

.booking .fSuccess {
    color: #0c0;
}

.booking .content {
    padding: 20px;
}


/** Header **/

.booking .header {
    height: 200px;
    position: relative;
    background: #fff url(../images/hotel.jpg) 0px -90px no-repeat;
}

.booking .header h1 {
    margin: 0;
    background: #333;
    color: #eee;
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: lighter;
    font-size: 18px;
    padding: 10px 20px;
    text-shadow: 0 0 5px rgba(255,255,255,.5);
}

.booking .header .options {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 80%;
    color: #eee;
}

.booking .header .options a {
    color: #eee;
}

/** Login **/

.booking .login {
    text-align: center;
}

.booking .formLogin {
    border-bottom: 1px dashed #aaa;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.booking .formLogin label {
    text-align: right;
}

.booking .formLogin p.buttons {
    text-align: center;
    background: none;
    margin-top: 0;
}

/** Table **/

.booking table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}

.booking th {
    background: #eee !important;
}

.booking td, .booking th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/** Forms **/

.booking label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}

.booking form p {
    text-align: center;
    height: 20px;
}

.booking form p.field {
    text-align: left;
    margin: 0 0 5px 0;
}

.booking form strong {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 10px;
    background: #eee;
    padding: 2px;
}

.booking form p {
    clear: both;
    text-align: left;
    margin: 7px 0;
    min-height: 15px;
}

.booking form p.hasError {
    color: #c00;
}

.booking form .hasError .error {
    font-size: 80%;
}

.booking form .buttons {
    text-align: left;
    background: #dedede;
    padding: 10px;
    margin-top: 20px;
}

/** Footer **/

.booking .footer {
    padding: 10px;
    font-size: 70%;
    border-top: 1px dotted #ccc;
    text-align: center;
}