.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.juzu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.juzu h1 {
  margin: 10px 0;
  font-size: 38.5px;
  font-weight: bold;
  line-height: 40px;
  color: #bd4247;
  background-color: #f2bdb1;
  text-rendering: optimizelegibility;
}
.juzu * {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}
.juzu section {
  margin: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.juzu p {
  margin: 12px;
  line-height: 20px;
}
.juzu .code {
  margin: 0 0 18px;
  font-size: 14px;
  line-height: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: hidden;
  padding: 9px;
}
.juzu .code ol {
  list-style: decimal;
}
.juzu .code ul {
  list-style: none;
}
.juzu .code p {
  margin: 0;
}
.juzu .code ol,
.juzu .code ul {
  margin: 0 0 0 40px;
  line-height: 0;
}
.juzu .code ol li,
.juzu .code ul li {
  padding: 0 5px;
  color: #999999;
  line-height: 14px;
}
.juzu .code ol li p,
.juzu .code ul li p {
  margin: 0;
  padding: 0;
  color: #000000;
}
.juzu .code ol li p.error,
.juzu .code ul li p.error {
  color: #bd4247;
}
