/* http://www.colourlovers.com/palette/625987/dont_you_go_down */

.juzu * {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
}

.juzu-box {

    margin: 4px;

    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.juzu pre {
    display: block;
    margin: 0 0 18px;
    line-height: 18px;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;

    font-family: Monaco, Andale Mono, Courier New, monospace;

    overflow: hidden;

    padding: 9px;
}

.juzu pre ol, .juzu pre ul {
    margin: 0 0 0 40px;
    line-height: 0;
}

.juzu pre ol {
    list-style: decimal;
}

.juzu pre ul {
    list-style: none;
}

.juzu pre ol li, .juzu pre ul li {
    padding: 0 5px;
    color: #94C7B6;
    line-height: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.juzu pre ol li span, .juzu pre ul li span { color: #403B33; }
.juzu pre ol li span.error, .juzu pre ul li span.error { color: #D3643B; }

.juzu .juzu-message {
    margin: 12px;
    line-height: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
