<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <context-param>
    <param-name>juzu.run_mode</param-name>
    <param-value>%s</param-value>
  </context-param>
  <context-param>
    <param-name>juzu.src_path</param-name>
    <param-value>%s</param-value>
  </context-param>
  <servlet>
    <servlet-name>JuzuServlet</servlet-name>
    <servlet-class>juzu.test.protocol.servlet.JuzuServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>AssetServlet</servlet-name>
    <servlet-class>juzu.impl.asset.AssetServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JuzuServlet</servlet-name>
    <url-pattern>%s</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssetServlet</servlet-name>
    <url-pattern>/assets/*</url-pattern>
  </servlet-mapping>
</web-app>